/*通用样式*/

html{
	width: 100%;
	height: 100%;
	font-family: 'FZYTK.TTF'; 
	
}
@font-face { 
  font-family: 'FZYTK.TTF'; /*这里是说明调用来的字体名字*/ 
  src: url('../face/FZYTK.TTF'); /*这里是字体文件路径*/ 
} 
body{
	width: 100%;
	height: 100%;
}
input{
	-webkit-appearance: none;
	resize: none;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
img{
	display: block;
	width: 100%;
}
.pos{
	position: absolute;
	left: 0%;
	right: 0%;
	margin: auto;
}

.page{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	margin: auto;
}
.hidden{
	display: none;
}
/*第一页*/
.pageBegin{
	background: url(../img/p1-loading.gif) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}


.page1 .shone{
	width: 100%;


}
.page1 .loadText{
	top: 62.3%;
	text-align: center;
	color: white;

	font-size: 4.5vw;
	font-family: 'FZYTK.TTF'; 
}

/*第二页*/
.page2{
	width: 100%;

}
.page2 .top,.page2 .bottom{
	width: 100%;
	position: absolute;
	height: 100%;
}
.page2 .top img,.page2 .bottom img{
	width: 100%;
	height: 100%;
}
.page2 .top{
	top: 0%;
	background: url(../img/mode/p1.jpg) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 .bottom{
	top: 100%;
	background: url(../img/mode/text.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page2 .bottom .btm{
	position: absolute;
	width: 32%;
	top: 82%;
}
.page2 .bottom .lBtm{
	left: 10%;
}
.page2 .bottom .sayBtm{
	right: 10%;
}

/*第三页*/
/*第三页*/
.page3{
	font-family: 'FZYTK.TTF';
	alignment-baseline: alphabetic;
	width: 100%;
	height: 100%;
}
.page3 .container{
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
}
.page3 .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
}
.page3 .bg img{
	width: 100%;
	height: 100%;
}
.page3Container{

}
.page3Body img{
	width: 20%;
	position: absolute;
	top: 50vw;
	left: 39.5vw
}
.personInfo{
	position: absolute;
	top: 60%;
	font-size: 3.0vw;


	color: #fff;
	background-size: 100%;
	width: 80%;
}
.personInfo img{
	width: 80%;
}
.personInfo p{
	line-height: 4.8vw;
	margin-left: 9vw;

}
.personInfo p .believeText{
	width: 52%;
}
.personInfo p .noBelieveText{
	width: 20%;
}
.personInfo p .noBelieveText{
	width: 28%;
}
.personInfo p .conText{
	width: 32%;
}
.face .personInfo p:last-child{
	line-height: 4.2vw;
	margin-left: 17vw;
	position: absolute;
	top: 108%;
}
.page33 .personInfo p:last-child{
	top: 100%;
	line-height: 4.2vw;
	margin-left: 17vw;
	position: absolute;
}
.personInfo2{
	position: absolute;
	top: 56%;
	font-size: 2.4vw;

	color: #fff;
	background-size: 100%;
	width: 80%;
	height: 40%;

}
.personInfo2 .top{
	position: absolute;
	top: 12%;
	left: 30%;
}
.personInfo2 .bottom{
	position: absolute;
	top: 52%;
	/*bottom: 20%;*/
	left: 30%;
}
.personInfo2 input{
	border:none;
	outline: none;
	background-color:#183d8e; 
	border-bottom:1px solid white;
	width: 20%;
	color: white;


}
.personInfo2 .top p{
	line-height: 5.2vw;
}
.personInfo2 .bottom p{
	line-height: 4.2vw;
}
.page33{
	position: absolute;
	z-index: -10;
}
.page33 .personInfo p:last-child{
	top: 92%;
}
.page33 .personInfo .lastText{
	
	top: 115%;
}
.page33 .logo{
	width: 40%;
	top: 88%;
}
.page33 .logo img{
	width: 100%;
}
.personInfo input{
	width: 12vw;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #fff;
}
.footerBtn img{
	position: absolute;
	bottom: 5vw;
	width: 25%;
}
.footerBtnLeft{
	left: 5vw;
}
.footerBtnRight{
	right: 5vw;
}
/*第三页模态框*/
.page3{
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
}
.page3 .popup{
	background: url("../img/photoword/p3-tut.png") no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.page3 .modal1 img{
	position: absolute;
	left: 45vw;
	top: 50vw;
	width: 30%;
}
.page3 .popup2{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url("../img/photoword/p3-tut2.png") no-repeat center center;
	background-size: 100% 100%;
}

.page3 .modal2 img{
	position: absolute;
	left: 30vw;
	top: 110vw;
	width: 30%;
}
.page3 .pic{
	position: absolute;
	left: 42%;
	top: 10%;
	width: 14%;
	height: 32%;
	z-index: -1;
	/*background: red;*/
}
/*第四页*/
.page4 .bg{

	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	
}
.page4 .bg img{
	width: 100%;
	height: 100%;
	pointer-events: none;

	
}
.page4 .cBtm{
	position: absolute;
	width: 20%;
	top: 84%;
	z-index: 200;
}
.page4 .backBtm{
	left: 10%;
}
.page4 .goBtm{
	right: 10%;
}
.page4 .logo{
	position: absolute;
	width: 50%;
	z-index: 10;
	left: 40%;
	top: 40%;
	pointer-events:none;
}
.page4 .picture{

	height: 50%;
	margin-top: 20%;
	/*z-index: 1000;*/

	


}

/*page33页*/
.page33 span{
	display: inline-block;
	
}
.page33 p{
	position: relative;
	margin-top: 1px;
}

.spanText{

	color: #183d8e;
	margin:0px 1px ;

}
.spanText7{

}
.spanText{

	display: inline-block;

	/*height: 4.6vw;*/
	/*position: absolute;*/


	
}
.spanText{
	background-image: url(../img/space/space2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bac6{
	display: inline-block;
	width: 50%;
	height: 4.8vw;
}
.bac6 img{
	width: 100%;
	height: 100%;
}

/*第五页*/
.page5{
	position: absolute;
	z-index: 1000;
}
.page5 .bf{
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	margin: auto;
}
.page5 .bf img{
	width: 100%;
	height: 100%;
}
/*第六页*/

.page6{
	background: url(../img/poster/bg.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.page6 .center{
	width: 80%;
	height:  78%;
	top: 10%;
	background-color: white;
}
.page6 .center canvas{
	width: 100%;
	height: 100%;
	display: block;
}
.page6 .center img{
	width: 100%;
	height: 100%;
}
.page6 .erweima{
	width: 16%;
	position: absolute;
	top: 78%;
	left: 14%;
}
.page6 .copy{
	width: 44%;
	position: absolute;
	top: 88%;
	left: 5%;
}
.page6 .link{
	width: 36%;
	position: absolute;
	top: 92%;
	right: 10%;
}
